@using BankAppMVC.Models.ViewModels
@using BankAppMVC.Models.ViewModels.AccountVm
@model DepositViewModel

<form asp-action="Deposit" method="post">
    <!-- Account Number (Hidden) -->
    <input asp-for="AccountId" type="hidden" />

    <!-- Amount -->
    <div class="mb-4">
        <label class="form-label" asp-for="Amount">Amount</label>
        <input class="form-control" asp-for="Amount" type="number" step="0.01" required />
        <span asp-validation-for="Amount" class="field-validation-error"></span>
    </div>

    <!-- Symbol -->
    <div class="mb-4">
        <label class="form-label" asp-for="Symbol">Symbol</label>
        <input class="form-control" asp-for="Symbol" type="text"  />
        <span asp-validation-for="Symbol" class="field-validation-error"></span>
    </div>

    <!-- Operation (Hidden) -->
    <input asp-for="Operation" type="hidden" value="Deposit" />

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Deposit</button>
    <a asp-controller="Account" asp-action="Details" asp-route-AccountId="@Model.AccountId" class="btn btn-secondary ">
        Back To Accounts
    </a>
   
</form>

@Html.ValidationSummary()
