@using BankAppMVC.Models.ViewModels.AccountVm
@model UpdateAccountViewModel



@{
    ViewData["Title"] = "Create Account";
}

<h2>Edit Account</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="AccountId" />
    <input type="hidden" asp-for="CustomerId" />
    <input type="hidden" asp-for="AccountNumber" />
    <div class="form-group mb-3">
        <label asp-for="Frequency"></label>
        <select asp-for="Frequency" class="form-control">
            <option value="Monthly">Monthly</option>
            <option value="Weekly">Weekly</option>
        </select>
        <span asp-validation-for="Frequency" class="text-danger"></span>
    </div>

  

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Details" asp-controller="Customer" asp-route-id="@Model.CustomerId" class="btn btn-secondary">Back to Customer</a>
</form>
@Html.ValidationSummary()


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
